<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Login</h1>
</div>  


  <form [formGroup]="myForm" class="example-form">
         
     
    <mat-form-field class="example-full-width"> 

        <input matInput placeholder="Email" [formControl]="emailCtrl">
        <mat-error *ngIf="emailCtrl.invalid">
          Please enter a valid email address
        </mat-error>

     </mat-form-field>
     
     <mat-form-field class="example-full-width">
          <input matInput placeholder="password" type="password" [formControl]="passwordCtrl">
   
          <mat-error *ngIf="passwordCtrl.invalid">
            Please Enter Valid Password
          </mat-error>
     </mat-form-field>
     <p>Validation status: {{ myForm.status }}</p>
     <button mat-raised-button color="primary" [disabled]="myForm.invalid">Login</button>
  </form>

  

